@use 'fonts'
@use 'colors'

body
  margin: 0
  font-family: fonts.$family-sans
  font-size: fonts.$size-regular
  color: colors.$dark
  background-color: colors.$light

h1, h2, h3, h4, h5, h6, blockquote
  font-family: fonts.$family-serif
